
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, html {
    font-family: 'Catamaran', sans-serif;
    color: #333;
    line-height: 1.3;
    box-sizing: border-box;
}

nav{
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content:space-between;
    font-size: 1.2rem;
    padding: 0 1.6rem;
}

nav h1 {
    display: inline-block;
    font-size: 2.2rem;
    font-weight: bold;

}

nav ul {
    display: flex;
    align-items: center;
    color: #444;
}
nav ul li {
    margin: 0 1.6rem;
}

.showcase {
    display: flex;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    grid-gap: 3rem;
    padding: 1.6rem;
}

.showcase h1 {
    font-weight: bold;
    font-size: 5rem;
}

.showcase .description p {
    font-size: 1.3rem;
    margin: 1rem 1rem;
    line-height: 1.6;
}
.showcase .description button {
    font-size: 1.1rem;
    background-color: #333;
    border-radius: 30px;
    padding: .8rem 2rem;
    color: white;
    border: none;
}

.section-b {
    position: relative;
    background: url("https://i.ibb.co/1RS1dqC/section-b.jpg") no-repeat bottom center/cover;
    text-align: center;
    width: 100%;
    height: 600px;
}
.section-b-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
}
.section-b-inner h3 {
    font-weight: bold;
font-size: 2rem;
max-width: 860px;

}
.section-b-inner h2{
font-size: 5rem;
font-weight: bold;
max-width: 860px;

}
.section-b-inner p {
font-size: 1.6rem;
max-width: 860px;

}

.section-c {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
}
.section-c img {
    width: 100%;
    height: auto;
}
.section-c img:nth-of-type(1){
    grid-column: 1/3;
    grid-row: 1/3;
}
.section-c img:nth-of-type(2){
    grid-column: 3/5;
    grid-row: 1;
}

footer {
    background-color: #333;
    color: white;
    height: 300px;
    display: flex;
    justify-content: center;
}

footer .container {
    display: flex;
    height: 100%;
    max-width: 1100px;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    line-height: 1.6;
    font-size: 1.1rem;

}
.container div {
    width: 247px;
}

.container li {
    color: #ccc;
    line-height: 1.9;
}

.container h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin-bottom: 1rem;
}

.container .slogan {
    font-size: 2rem;
    font-weight: bold;
    align-self: flex-start;
    margin-top: 3.3rem;
    line-height: 1.3;
    letter-spacing: 2px;
}

.container .subscribtion {
    margin-bottom: 1rem;
}
form input[type="email"] {
    background-color: #666;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 130px;
    height: 45px;
    margin: 0;
    padding: 0 3rem 0 1.5rem;
    font-family: inherit;
    color: white;

}
form #btn {
    background-color: white;
    height: 45px;
    width: 45px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    margin: 0;
    padding: 0;
}

form input[type="email"]:hover, form input[type="email"]:focus{
    outline: none;
    border: none;
}
form input[type="email"]::placeholder {
    font-family: inherit;
    color: #bbb;
    font-size: 1rem;
}

@media (max-width: 900px){
    .showcase {
        flex-direction: column;
        text-align: center;
    }
    .showcase img {
        order: -1;
    }
    
    .container{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 100%;
        
    }
    .container div {
        width: 100%;
        height: auto;
    }
    .container ul, .container h3 {
        display: none;
    }
    .container .show {
        display: block;
    }

    .container form input[type="email"] {
        width: 60%;
    }

    .container .slogan {
        margin: 0;
    }

    .section-c {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
    }
    .section-c img:nth-of-type(1){
        grid-column: 1;
        grid-row: 1;
    }
    .section-c img:nth-of-type(2){
        grid-column: 2/4;
        grid-row: 2;
    }
    .section-c img:nth-of-type(3){
        grid-column: 2;
        grid-row: 1;
    }
    .section-c img:nth-of-type(4){
        grid-column: 3;
        grid-row: 1;
    }
    .section-c img:nth-of-type(5){
        grid-column: 1;
        grid-row: 2;
    }
    .section-c img:nth-of-type(6){
        display: none;
    }
}